{
  "extends": "@giodamelio/eslint-config",
  "rules": {
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "strict": "off"
  }
}
